.image-container,
.image__thumbnail,
.image__gif {
	position: relative;
}

.image-container {
	overflow: hidden;
	margin-bottom: 10px;
	cursor: pointer;
}
.show-spiner {
  background: #000;
}

.image__thumbnail {
	z-index: 3;
}
.image__gif {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
}
.image__thumbnail {
  font-size: 0;
  line-height: 0;
  padding: 0;
  margin: 0;
}
.image-container {
  font-size: 0;
}
.show-spiner .image__gif {
  display: none;
}
.image-container:hover .image__thumbnail {
	pointer-events: none;
	opacity: 0;
}